﻿@model ATM_App.Models.ATM.CardBalanceViewModel;

<div>
    Остаток средств на счету.
</div>

<div class="text-center">
    <p>Номер карты: @Model.Number</p>
    <p>Баланс на карте: @Model.Balance</p>
    <p>Дата: @DateTime.Now</p>

    <div>
        <button onclick="history.back()">Назад</button>
    </div>

</div>