﻿@model ATM_App.Models.ATM.FundsWithdrawnViewModel;

<div>
    Средства успешно сняты.
</div>

<div class="text-center">

    <p>Номер карты: @Model.CardNumber</p>
    <p>Снято: @Model.Withdrawn</p>
    <p>Остаток на счету: @Model.FundsLeft</p>
    <p>Дата: @DateTime.Now</p>

    <div>
        <button onclick="history.back()">Назад</button>
    </div>

    <form asp-action="Index" asp-controller="Atm" method="get">
        <input type="submit" value="Выход" />
    </form>

</div>