﻿@model ATM_App.Models.ATM.CardNumberViewModel;

<div>Operations</div>

<div class="text-center">

    @Html.ActionLink("Снять деньги", "Withdrawal", "Operations", @Model);

    @Html.ActionLink("Посмотреть Баланс", "CardBalance", "Operations", @Model);

    <div>
        @Html.ActionLink("Выход", "Index", "Atm");
    </div>

</div>