﻿@model ATM_App.Models.ATM.CardNumberViewModel;

<div>
    Снятие средств.
</div>

<div class="text-center">

    <form asp-action="WithdrawFunds" method="post">
        <label hidden for="Number"></label>
        <input hidden value="@Model.CardNumber" name="Number"/>

        <label for="Withdrawal">Amount</label>
        <input type="number" name="Withdrawal" readonly id="toWithdrawal"/>
        <input type="reset" value="Reset"/>

        <input type="submit" name="submit" value="Ok"/>
    </form>

    <div id="VirtualKey">
        <input id="btn1" type="button" onclick="input(this);" value="1"/>
        <input id="btn2" type="button" onclick="input(this);" value="2"/>
        <input id="btn3" type="button" onclick="input(this);" value="3"/>
        <br />                                                
        <input id="btn4" type="button" onclick="input(this);" value="4"/>
        <input id="btn5" type="button" onclick="input(this);" value="5"/>
        <input id="btn6" type="button" onclick="input(this);" value="6"/>
        <br />                                                
        <input id="btn7" type="button" onclick="input(this);" value="7"/>
        <input id="btn8" type="button" onclick="input(this);" value="8"/>
        <input id="btn9" type="button" onclick="input(this);" value="9"/>
        <br />
        <input id="btn0" type="button" onclick="input(this)" value="0"/>
        <br />
        <input id="btnDel" type="button" value="Backspace" onclick="del();" />
    </div>

    <div>
        <button onclick="history.back()">Назад</button>
    </div>

    <form asp-action="Index" asp-controller="Atm" method="get">
        <input type="submit" value="Выход" />
    </form>

</div>

<script>

    function input(e)
    {
        let input = document.getElementById("toWithdrawal");
        input.value = input.value + e.value;
    }

    function del()
    {
        let input = document.getElementById("toWithdrawal");
        input.value = input.value.substr(0, input.value.length - 1);
    }

</script>