﻿@model ATM_App.Models.ATM.CardNumberViewModel;

<div>Time to check pin code</div>

<div class="text-center">

    <form action="/Atm/CheckPinCode" method="post">
        <label hidden for="CardNumber"></label>
        <input hidden value="@Model.CardNumber" type="text" name="CardNumber"/>

        <label for="Code">Pin code</label>
        <input type="password" name="Code" readonly maxlength="4" id="password"/>
        <input type="reset" value="Reset"/>

        <input type="submit" name="submit" value="Ok"/>
    </form>

    <div id="VirtualKey">
        <input id="btn1" type="button" onclick="input(this);" value="1"/>
        <input id="btn2" type="button" onclick="input(this);" value="2"/>
        <input id="btn3" type="button" onclick="input(this);" value="3"/>
        <br />                                                
        <input id="btn4" type="button" onclick="input(this);" value="4"/>
        <input id="btn5" type="button" onclick="input(this);" value="5"/>
        <input id="btn6" type="button" onclick="input(this);" value="6"/>
        <br />                                                
        <input id="btn7" type="button" onclick="input(this);" value="7"/>
        <input id="btn8" type="button" onclick="input(this);" value="8"/>
        <input id="btn9" type="button" onclick="input(this);" value="9"/>
        <br />
        <input id="btn0" type="button" onclick="input(this)" value="0"/>
        <br />
        <input id="btnDel" type="button" value="Backspace" onclick="del();" />
    </div>

    <div>
        @Html.ActionLink("Выход", "Index", "Atm");
    </div>

</div>

<script>

    function input(e)
    {
        let password = document.getElementById("password");
        if(password.value.length < 4)
        {
            password.value = password.value + e.value;
        }
    }

    function del()
    {
        let password = document.getElementById("password");
        password.value = password.value.substr(0, password.value.length - 1);
    }

</script>