﻿@model ATM_App.Models.ATM.CardNumberViewModel;

<div>ATM</div>

<div class="text-center">
    <div class="card">
        <div class="card-body">

            <form action="Atm/CheckCardNumber" method="post">
                <label for="CardNumber">CardNumber</label>
                <input type="text" placeholder="Input Card Number" name="CardNumber" readonly maxlength="19" id="credit-card"/>
                <input type="reset" value="Reset" />

                <input type="submit" name="submit" onclick="RemoveDashes()"/>
            </form>

        </div>
    </div>

    <div id="VirtualKey">
        <input id="btn1" type="button" onclick="input(this);" value="1"/>
        <input id="btn2" type="button" onclick="input(this);" value="2"/>
        <input id="btn3" type="button" onclick="input(this);" value="3"/>
        <br />                                                
        <input id="btn4" type="button" onclick="input(this);" value="4"/>
        <input id="btn5" type="button" onclick="input(this);" value="5"/>
        <input id="btn6" type="button" onclick="input(this);" value="6"/>
        <br />                                                
        <input id="btn7" type="button" onclick="input(this);" value="7"/>
        <input id="btn8" type="button" onclick="input(this);" value="8"/>
        <input id="btn9" type="button" onclick="input(this);" value="9"/>
        <br />
        <input id="btn0" type="button" onclick="input(this)" value="0"/>
        <br />
        <input id="btnDel" type="button" value="Backspace" onclick="del();" />
    </div>

</div>


<script>

    function CustomFormat() 
    {
        let element = document.getElementById("credit-card");
        let lastChar = element.value.slice(-1);

        if(lastChar.match(/[0-9]/))
        {
            element.value + lastChar;
            let index = element.value.lastIndexOf('-');
            if(element.value.length === 4 || element.value.length === 9 || element.value.length === 14)
            {
                element.value = element.value + '-';
            }
        }
        else
        {
            element.value = element.value.slice(0, -1);
        }
    }

    function RemoveDashes()
    {
        let x = document.getElementById("credit-card");
        x.value = x.value.replace(/-/g, '');
    }

    function input(e)
    {
        let input = document.getElementById("credit-card");
        if(input.value.length < 19)
        {
            if(input.value.length === 4 || input.value.length === 9 || input.value.length === 14)
            {
                input.value = input.value + "-";
            }
            input.value = input.value + e.value;
        }
    }

    function del()
    {
        let input = document.getElementById("credit-card");
        input.value = input.value.substr(0, input.value.length - 1);
    }

</script>